<!DOCTYPE html>
<html lang="en">
<head>
    <title>22S BioE 301P - HW3</title>
</head>
<body>
    <h1>22S BioE 30P - HW3</h1>
    <h2>Pipelines</h2>
    <h3>Data source</h3>
        <p>The data was acquired from a motor neuroscience lab at Stanford University.</p>
    <h3>Analysis</h3>
        <p>The analysis performed on this dataset was a spectral analysis on the local field potential recordings during a motor delay-reach task, and comparing between sessions.</p>
    <h4>Visualization</h4>
    # jinja will insert the contents of the plotly_visualization variable here
    # You will need multiple of these if you have more than one plot
    {{plotly_visualization}}
    <p>Figure 1: Spectral analysis of local field potentials in primary motor cortex. </p>
</body>
</html>

